:root {
  --mainBackground: #ffb8ca;
  --secondaryBackground: #ffa5ba;
  --accentColor: #d41443;
  --white: #ffffff;

  --accentHover: #c7133e;
  --whiteHover: #ecebeb;
  --mobileMenu: #e17992;
  --mobileMenuBorder: #e18298;
  --whiteElements: #ffffff;
  --pinkTextColor: #ffa5ba;

  --titleFont: Titan One;
  --mainFont: DM Sans;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  // Переменные для секции Contacts
  --sectionBgColor: #fff5f6;
  --contactCafeColor: #f0d1a5;
  --contactCafeFoodtruck: #c2e297;
  --contactFirstColor: #000000;
  --contactSecondColor: #907e82;
  --contactRedBtnColor: #d41342;

  --sliderColor: #fafafa;

  --footerCntsColor: #fea5bb;

  --borderColor: #e1e1e1;

  --modalColorCrossOne: red;
  --modalColorCrossTwo: green;
}
