<section class="contacts" id="contacts">
  <div class="contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts-list">
      <li class="contacts-list__item">
        <div class="contacts-list__category">CAFE</div>
        <address class="contacts__address">
          <p class="contacts-list__city">Chicago</p>
          <p class="contacts-list__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__contact">
            <a href="tel:+610383766284" class="contacts-list__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-list__email link"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>

      <li class="contacts-list__item">
        <div class="contacts-list__category foodtrack">FOODTRUCK</div>
        <address class="contacts__address">
          <p class="contacts-list__city">Los Angeles</p>
          <p class="contacts-list__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__contact">
            <a href="tel:+610383766284" class="contacts-list__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-list__email link"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>

      <li class="contacts-list__item">
        <div class="contacts-list__category">CAFE</div>
        <address class="contacts__address">
          <p class="contacts-list__city">New York</p>
          <p class="contacts-list__street">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__operating-mode">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts-list__line"></div>
          <div class="contacts-list__contact">
            <a href="tel:+610383766284" class="contacts-list__tel link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contacts-list__email link"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>
    </ul>

    <div class="contacts__btn-wrap">
      <button type="button" class="contacts__btn contacts__btn--red" contacts-modal-open>
        <span class="contacts__btn-label contacts__btn-label--white">Our Locations</span>
      </button>

      <button type="button" class="contacts__btn contacts__btn--white" contacts-modal-open1>
        <span class="contacts__btn-label contacts__btn-label--red">Franchise</span>
      </button>
    </div>
  </div>

  <div class="contacts__backdrop is-hidden" contacts-modal>
    <div class="contacts__modal">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d742.5996249985593!2d-87.64887970946572!3d41.88428618121772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cdab77aacd7%3A0xee05e9505967cc09!2sBomboBar!5e0!3m2!1suk!2sua!4v1645282456026!5m2!1suk!2sua"
        width="1200"
        height="900"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        class="contacts__map"
      ></iframe>

      <button type="button" class="contacts__modal-close" contacts-modal-close></button>
    </div>
  </div>
</section>
