<section class="customer-reviews">
    <h2 class="visually-hidden" aria-label="customer reviews">Customer-reviews</h2>
    <div class="container-cr">
        <div class="slider">
            <div class="slide">
                <div class="slide__photo">
                    <img srcset="./images/customer-reviews/testimonials1_1x.jpg 1x, ./images/customer-reviews/testimonials1_2x.jpg 2x"
                        src="./images/customer-reviews/testimonials1_1x.jpg" alt="Эмили" width="85">
                </div>
                <div class="slide__comment">
                    <div class="slide__comment--text-wrap">
                        <span class="slide__comment--text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Soluta
                            explicabo temporibus distinctio perferendis repellat atque alias repudiandae dignissimos
                            quidem
                            ex!
                        </span>
                    </div>
                </div>
                <div class="slide__name">Emily, Los-Angeles</div>
            </div>
            <div class="slide">
                <div class="slide__photo">
                    <img srcset="./images/customer-reviews/testimonials2_1x.jpg 1x, ./images/customer-reviews/testimonials2_2x.jpg 2x"
                        src="./images/customer-reviews/testimonials2_1x.jpg" alt="Меган" width="85">
                </div>
                <div class="slide__comment">
                    <div class="slide__comment--text-wrap">
                        <span class="slide__comment--text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Soluta
                            explicabo temporibus distinctio perferendis repellat atque alias repudiandae dignissimos
                            quidem
                            ex!
                        </span>
                    </div>
                </div>
                <div class="slide__name">Megan, Kyiv</div>
            </div>
            <div class="slide">
                <div class="slide__photo">
                    <img srcset="./images/customer-reviews/testimonials3_1x.jpg 1x, ./images/customer-reviews/testimonials3_2x.jpg 2x"
                        src="./images/customer-reviews/testimonials3_1x.jpg" alt="Меган" width="85">
                </div>
                <div class="slide__comment">
                    <div class="slide__comment--text-wrap">
                        <span class="slide__comment--text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Soluta
                            explicabo temporibus distinctio perferendis repellat atque alias repudiandae dignissimos
                            quidem
                            ex!
                        </span>
                    </div>
                </div>
                <div class="slide__name">Jenifer, Toronto</div>
            </div>
        </div>
    </div>
</section>