<footer class="footer">
  <div class="container footer-container">
    <h2 class="visually-hidden">social media and telefone</h2>
    <div class="footer-container__title">
      <p class="footer-container__homemade">homemade ice cream made</p>

      <p class="footer-container__passion">with passion</p>
    </div>

    <div class="footer-contacts">
      <ul class="list">
        <li>
          <a class="link footer-contacts__social-links" aria-label="GitHub" href="" target="_blank"
            rel="noopener noreferrer">
            <svg class="footer-contacts__icon">
              <use href="./images/sprite.svg#icon-github-vector"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link footer-contacts__social-links" aria-label="Telegram" href="" target="_blank"
            rel="noopener noreferrer">
            <svg class="footer-contacts__icon">
              <use href="./images/sprite.svg#icon-telegram-vector"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link footer-contacts__social-links" aria-label="Facebook" href="" target="_blank"
            rel="noopener noreferrer">
            <svg class="footer-contacts__icon">
              <use href="./images/sprite.svg#icon-facebook-vector"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer__tel">
        <p class="contacts__text">Feel free to contact</p>
        <a class="link contacts__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>