.container.advantage-container {
  @media screen and (max-width: 767px) and (min-width: 320px) {
    // margin-left: 0;
    padding-left: 20px;
    padding-bottom: 97px;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    // margin-left: 0;
    padding-left: 36px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    padding-left: 115px;
    padding-bottom: 139px;
  }
}

.advantage {
  background-color: var(--sectionBgColor);
}

.ice-set__title {
  font-family: var(--titleFont);
  font-size: 36px; /*vaitin' for var*/
  line-height: 1.138;
  text-transform: uppercase;
  color: var(--accentColor);
  margin-bottom: 18px; /*Are you sure?*/

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    font-size: 48px; /*vaitin for var*/
    line-height: 1.145;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px; /*vaitin' for var*/
    line-height: 1.137;
    margin-bottom: 15px;
  }
}

.team-set__post {
  font-family: var(--mainFont);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.ice-set {
  @media screen and (min-width: 480px) {
    display: flex;
  }
}

.ice-set__item {
  width: 230px;

  &.icon-cow::before {
    background-image: url(../images/advantages/cow-bucket.png);
    width: 33px;
  }
  &.icon-apple::before {
    background-image: url(../images/advantages/apple-bucket.png);
    width: 50px;
  }
  &.icon-icecream::before {
    background-image: url(../images/advantages/ice-bucket.png);
    width: 44px;
  }

  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    width: 180px;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.ice-set__item::before {
  display: inline-block;
  content: '';
  height: 50px;
  margin-bottom: 16px;

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
